* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Baloo 2', cursive;
}

#container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 30px 20px 30px;
  background-color: lightblue;
}

h1 {
  font-size: 50px;
}

p {
  margin-bottom: 30px;
}
